/* Mulish Variable Font - Regular */
@font-face {
  font-family: 'Mulish';
  src: url('/fonts/mulish/Mulish-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}